---
const title: string = 'Astro Demo'
---

<h1 class="mt-5">{ title }</h1>
<p>This is a demo application that uses Astro and combines React, Vue, Svelte and Solid components with a shared state, using Nano Stores. For styling the global Astro/Tailwind configuration was used.</p>
